<h1><%= @user.name %></h1>

<% grouped_predictions = @game_predictions.group_by { |prediction| prediction.game.tournament } %>

<% grouped_predictions.each do |tournament, predictions| %>
  <h2><%= tournament.name %></h2>
  <div class="table-responsive">
    <table class="table table-striped custom-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Actual Score</th>
          <th>Predicted Full-time Score</th>
          <th>Actual Extra-time Score</th>
          <th>Predicted Extra-time Score</th>
          <th>Actual Penalties Winner</th>
          <th>Predicted Penalties Winner</th>
          <th>Points Gained</th>
        </tr>
      </thead>
      <tbody>
        <% predictions.sort_by { |prediction| prediction.game.id }.each_with_index do |prediction, index| %>
          <% game = prediction.game %>
          <% actual_points = game.home_team_goals.present? && game.away_team_goals.present? ? prediction.total_points : 0 %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= game.home_team %></td>
            <td><%= game.away_team %></td>
            <td><%= game.home_team_goals.present? && game.away_team_goals.present? ? "#{game.home_team_goals} - #{game.away_team_goals}" : "Game not started" %></td>
            <td><%= prediction.home_team_goals.present? && prediction.away_team_goals.present? ? "#{prediction.home_team_goals} - #{prediction.away_team_goals}" : "Prediction not available" %></td>
            <td><%= game.home_team_et_goals.present? && game.away_team_et_goals.present? ? "#{game.home_team_et_goals} - #{game.away_team_et_goals}" : "Finished In Full-time" %></td>
            <td><%= prediction.home_team_et_goals.present? && prediction.away_team_et_goals.present? ? "#{prediction.home_team_et_goals} - #{prediction.away_team_et_goals}" : "No Extra-time prediction" %></td>
            <td><%= game.penalties_winner %></td>
            <td><%= prediction.penalties_winner%> </td>
            <td><%= actual_points %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="9" style="text-align: right;">Total Points:</td>
          <td><%= predictions.sum { |prediction| prediction.total_points.to_i }.to_i %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
