<h1><%= @user.name %></h1>

<div class="table-responsive">
  <table class="table table-striped custom-table">
    <thead>
      <tr>
        <th>Game</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Actual Score</th>
        <th>Predicted Score</th>
        <th>Points Gained</th>
      </tr>
    </thead>
    <tbody>
      <% @game_predictions.sort_by { |prediction| prediction.game.id }.each do |prediction| %>
        <% game = prediction.game %>
        <% actual_points = prediction.total_points %>
        <tr>
          <td><%= game.id %></td>
          <td><%= game.home_team %></td>
          <td><%= game.away_team %></td>
          <td><%= "#{game.home_team_goals} - #{game.away_team_goals}" %></td>
          <td><%= "#{prediction.home_team_goals} - #{prediction.away_team_goals}" %></td>
          <td><%= actual_points %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5" style="text-align: right;">Total Points:</td>
        <td><%= @game_predictions.sum(&:total_points) %></td>
      </tr>
    </tbody>
  </table>
</div>
